<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Subject</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="report">
  	<%= render @student.reports %>
  </tbody>
</table>

<h3>Add a score:</h3>
<%= render "reports/form" %>

<%= link_to 'Back', students_path %>
