<h1>Welcome to Key's English Course</h1>
<p>at St. Oxford, OX1 3DZ</p>
</br>
<%= link_to 'List of Student', controller: 'students' %>
<%= link_to 'List of Level', controller: 'levels' %>
<%= link_to 'List of Room', controller: 'rooms' %>
<%= link_to 'List of Teacher', controller: 'teachers' %>
<%= link_to 'List of Lesson Subject', controller: 'lessons' %>
