<%= form_for([@student, @student.reports.build], remote: true) do |f| %>
  <div class="field">
    <%= f.label :Subject %><br>
    <%= f.collection_select :lesson_id, Lesson.all, :id, :subject, { :prompt => "Please Select" } %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
