<p id="notice"><%= notice %></p>

<h1>Listing Subject Scores</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Final Score</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
      <td><%= report.lesson.subject %></td>
      <td><%= report.final_score %></td>
        <td><%= link_to 'Detail', student_report_path(student_id: @student.id, id: report.lesson_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', students_path %>
<br>
