<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Subject</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="report">
    <% @reports.each do |report| %>
		<tr>
			<td><%= report.created_at.to_date %></td>
			<td><%= report.lesson.subject %></td>
			<td><%= report.score %></td>
			<td><strong><%= link_to 'Delete', [report.student, report],
										  method: :delete,
										  class: "button",
										 	data: { confirm: 'Are you sure?' }, :remote => true  %></strong></td>
		</tr>
  	<% end %>
  </tbody>
</table>

<%= link_to 'Back', student_reports_path(@student) %>

