<!DOCTYPE html>
<html>
<head>
  <title>EnglishCourse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
<% if !current_page?(root_path) %>
	<%= link_to 'Home', root_path %>
<% end %>
</body>
</html>
